
.header {
  text-align: center;
  background: #5f90aa;
  color: white;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

.white-link-text-on-box a {
   color: white; 
}

@media (min-width: 1200px) {
    .container{
        max-width: 800px;
    }
}

@media all and (max-width: 1000px) { /* screen size until 1000px */
    h1  {
        font-size: 1.8em; /* 2.5x default size */
        }

    h3  {
        font-size: 1.5em; /* 2.5x default size */
        }
    }
@media all and (max-width: 500px) { /* screen size until 500px */
    h1  {
        font-size: 1.4em; /* 2.5x default size */
        }

    h3  {
        font-size: 1.2em; /* 2.5x default size */
        }
    }