<h3>
<a id="Bio" class="anchor" href="#bio" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Bio.</h3>

<p>
Daniel holds a PhD in computer science from the University of Nantes (France), a
Master in computer science from the Vrije Universiteit Brussels (Belgium), a
Specialization degree in software construction from the University of Los Andes
(Colombia) and an Electrical Engineering degree (Colombia) from the University
of Los Andes.
</p>
<p>
He currently serves as an associate professor at the Colombian School of
Engineering Julio Garavito. His areas of interest include Enterprise
Architecture, Software Engineering, Distributed Computing and Programming
Languages and Models for the development of distributed, complex and concurrent
applications.
</p>
<p>
He has multiple international publications in computer science and a
professional career of more than 10 years. He has worked as engineer at
multinational companies (Codensa, Citigroup), as a researcher at European
laboratories (eg, INRIA), participated in joint research projects with European
companies (Siemens, Germany), and served as lecturer at Los Andes University and
ICESI University.
</p>